{% extends 'users/base.html' %}
{% load static %}
{% block header %}
<meta charset="UTF-8"/>

<title>Center Listing</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
<meta name="viewport" content="user-scalable = 1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}" type="text/css">
<link href="{% static 'css/newdesign.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> -->
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
{% endblock header %}
{% block css %}


{% endblock %}
{% block base_content %}

<div id="container">

<!--Header-->
{% include 'users/nav.html' %}
<!-- <header>      

<!--Content Container-->
    <main>
         <!-- side_bar starts -->
    {% include 'users/side_bar.html' %}
    <!-- side_bar ends -->
    <div id="content-container">
            <input id="pg_find" type="number" value="{{current_page}}" hidden>
        <div class="page-header">
                <h2>Centers</h2>
               <!--  <ol class="breadcrumb">
                    <li><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
                    <li><a href="listing.html">Users</a></li>
                    <li class="active">Add User</li>
                </ol> -->
            </div>
            <div class="table-top">
                        <input type="search" id="txt-search" placeholder="Search" />
                        <div>
                           <div>
                                <span>{{data|length}} Centers</span>
                            </div>
                            <div> 
                              <a href="javascript:void(0)" class="add-center-link">
                                    <i class="fa fa-plus"></i>
                                    <span>Add New</span>
                                </a>
                            </div>
                        </div>
                    </div>    
                <div class="page-content">
                    
                    <div class="listing-wrapper">
                    <div class="listing-container">
                        {% if status == False %}
                            <h4 style="color: red;">{{message}}</h4>
                        {% endif %}
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr>
                                    <th>Centers</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody class="listingtable">
                                    <tr>
                                        {% for alldata in data %}
                                        <td>{{alldata.name}}</td>
                                        <td>{{alldata.country.label}}</td>
                                        <td>{{alldata.state.label}}</td>
                                        <td>{{alldata.city.label}}</td>
                                        <td><a href="javascript:void(0);" onclick="editDivision({{alldata.id}},'{{alldata.name}}','{{alldata.country.id}}','{{alldata.state.id}}','{{alldata.city.id}}')" class='edit-link'><i class="fa fa-pencil"></i></a><a href="javascript:void(0);" onclick="removeDivision({{alldata.id}})"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                        {% endfor %}
                                </tbody>
                            </table>    
                        </div>
                        <div class="paginationWrapper">
                                <div id="divPagination" class="paginationContainer" actpage="1">
                                    {% if data|length != 0 %}
                                    {% if batch_numpage != 1 %}
                                    {% if current_page != 1%}
                                    <a id="pageprev" href="/institute/centers/?page={{batch_previous_page}}">prev</a>
                                    {% endif %}
                                    {% endif %}
                                    {% with ''|center:batch_numpage as range %}
                                    {% for i in range %}
                                    {% if forloop.counter == 1 %}
                                    <a id="page{{forloop.counter}}" href="/institute/centers/">{{forloop.counter}}</a>
                                    {% else %}
                                    <a id="page{{forloop.counter}}" href="/institute/centers/?page={{forloop.counter}}">{{forloop.counter}}</a>
                                    {% endif %}
                                    {% endfor %}
                                    {% endwith %}
                                    {% if batch_numpage != 1 %}
                                    {% if current_page != batch_numpage %}
                                    <a id="pagenext" href="/institute/centers/?page={{batch_next_page}}">next</a>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                     </div>

                    
                  
                    
                    
                    </div>

                </div>

            </div>
 </main>           
<!--Content Container-->

</div>


<!-- Add Content Dialog-->
    <div class="addCentersDialog">
        <div class="addCentersDialogContainer">
            <div class="heading"><span id="dialogue_title"></span> &nbsp;Centers</div>
            <div class="dialog-content">
                <form id="create_center" method="POST">{% csrf_token %}
                        <input id="edit_value_id" type="number" name="id" placeholder="Add title" hidden/>
                <div class="form-wrapper">
                    <div class="form-block">
                        <select name="country_id" id="countrydd" data-live-search="true" value="{{alldata.country.id}}" onchange="SelectState();" required>
                            <option value="" selected disabled>Select Country</option>
                        </select>
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form-block">
                        <select name="state_id" id="statedd" data-live-search="true" value="{{alldata.state.id}}" onchange="SelectCity();" required>
                            <option value="" selected disabled>Select State</option>
                        </select>
                    </div>
                     <div class="form-block">
                        <select name="city_id" id="citydd" data-live-search="true" value="{{alldata.city.id}}" required>
                            <option value="" selected disabled>Select City</option>
                        </select>
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form-block">
                        <input id="name" type="text" name="name" placeholder="Enter name" required />
                    </div>
                </div>
                <div class="form-actions">
                    <a href="javascript:void(0);" onclick="refreshPage()">Cancel</a>
                    <button type="submit">Save</button>
                </div>  
                </form> 
            </div>
        </div>     
    </div>
    <!-- Add Content Dialog-->



<!-- Confirmation Content Dialog-->
<div class="confirmationDialog">
        <div class="confirmationDialogContainer">
            <div class="heading">Confirmation</div>
            <div class="dialog-content">
                <h3>Are you Sure ?</h3>
               <p>you want to delete the record</p>
            </div>
             <div class="form-actions">
                <a href="javascript:void(0);" onclick="confirmation('cancel')">Cancel</a>
                <button onclick="confirmation('confirm')">Confirm</button>
            </div>  
        </div>     
    </div>
<!-- Confirmation Content Dialog-->

{% if status == True %}

    <div id="successDialog" class="successDialog">
        <div class="successDialogContainer">
            <div class="heading">Success</div>
            <div class="dialog-content">
                <i class="fa fa-check"></i>
                <h3>Awesome</h3>
               <p>{{message}}</p>
            </div>
             <div class="form-actions">
                <button onclick="success()">OK</button>
            </div>  
        </div>     
    </div>
{% endif %}

<!-- Delete Content Dialog-->
{% if status == "Deleted" %}

    <div id="DeleteDialog" class="successDialog">
        <div class="successDialogContainer">
            <div class="heading">Deleted</div>
            <div class="dialog-content">
                <i class="fa fa-check"></i>
                <h3>Awesome</h3>
               <p>{{message}}</p>
            </div>
             <div class="form-actions">
                <button onclick="failure()">OK</button>
            </div>  
        </div>     
    </div>
{% endif %}
<!-- Delete Content Dialog-->

<div>
    <form id="remove-model" method="POST" hidden>{% csrf_token %}
        <input type="text" name="action" value="delete"/>
        <input id="delete_id" type="number" name="id"/>
    </form>
</div>

{% endblock base_content %}

{% block htmljs %}

<script src="{% static 'js/site.js' %}"></script>
<script src="{% static 'js/centers.js' %}"></script>      
{% endblock htmljs %}
