{% extends 'users/base.html' %}
{% load static %}
{% block header %}
<meta charset="UTF-8"/>

<title>Edit Class Listing</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
<meta name="viewport" content="user-scalable = 1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}" type="text/css">
<link href="{% static 'css/newdesign.css' %}" rel="stylesheet" type="text/css">
{% endblock header %}
{% block css %}


{% endblock %}
{% block base_content %}



<div id="container">
    {% include 'users/nav.html' %}

<!--Header-->
 
<!--Header-->       

<!--Content Container-->
    <main>
        {% include 'users/side_bar.html' %}
    <div id="content-container">
        <div class="page-header">
                <h2>Edit Class</h2>
               <!--  <ol class="breadcrumb">
                    <li><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
                    <li><a href="listing.html">Users</a></li>
                    <li class="active">Add User</li>
                </ol> -->
            </div>
            <div class="table-top">
                        <style>
                            .button
                            {
                                background-color:
#204d74;
cursor: pointer;
font-size: 15px;
padding: 7px 20px;
border-radius: 4px;
color:
#fff;
font-family: latoregular;
border: 0px none;
                            }
                        </style>
                        
                    </div>    
                <div class="page-content">
                    
                    <div class="listing-wrapper">
                    <div class="listing-container">
                        <!-- {% if status == False %} -->
                            <h4 style="color: red;"></h4>
                        <!-- {% endif %} -->
                        
                        
                            <div class="table-wrapper">
                                <form method="post" action="/institute/classs/">{% csrf_token %}
                                    <table width="50%">
                                        <tr >
                                            <td>
                                                <label>Class Name</label>
                                            <div class="form-wrapper">
                                                <div class="form-block">
                                                    
                                                     <input type="hidden" name="hidden_id" id="title" value="{{data.id}}" placeholder="Enter numeric ID" required/>
                                               <input type="text" name="title" id="title" value="{{data.label}}" placeholder="Enter title" required/>
                                                </div>
                                            </div>
                                        </td></tr>
                                         <tr ><td>
                                            <div class="form-wrapper">
                                                <label>Short Code</label>
                                                <div class="form-block">
                                                     
                                                     <input type="text" name="short_code" id="short_code" value={{data.short_code}} placeholder="Enter description" required/>
                                                </div>
                                            </div>
                                        </td></tr>
                                        <tr ><td>
                                            <div class="form-wrapper">
                                                <label>Description</label>
                                                <div class="form-block">
                                                     
                                                     <input type="text" name="description" id="description" value={{data.description}} placeholder="Enter description" required/>
                                                </div>
                                            </div>
                                        </td></tr>
                                        <tr ><td>
                                            <div class="form-wrapper">
                                                <label>Sequesnce Number</label>
                                                <div class="form-block">

                                                      <input type="text" name="order" id="order" value="{{data.order}} "placeholder="Enter sequence" required/>
                                                </div>
                                            </div>
                                        </td></tr>
                                        <tr ><td>
                                            <div class="form-wrapper">
                                                <div class="form-block ">
                                                      
                                            <a href="/institute/classs/"class="button save_class">Cancel</a>
                                            <button type="submit" id="addclass " class="save_class button" >Save</button>
                                            
                                         
                                                </div>
                                            </div>
                                        </td></tr>
                                    </table>
                                </form>

                       
                       
                     </div>

                    
                  
                    
                    
                    </div>

                </div>

            </div>
 </main>           
<!--Content Container-->

</div>


<!-- Add Content Dialog-->
    <div id="addClassModal" class="addSessionDialog">
        <div class="addSessionDialogContainer">
            <div class="heading">Add Class</div>
            <div class="dialog-content">
                <form method="post">{% csrf_token %}
                <div class="form-wrapper">
                     <div class="form-block">
                        
                        <input type="text" name="title" id="title" placeholder="Enter title" required/>
                    </div>
                    
                    <div class="form-block">
                        <input type="text" name="description" id="description" placeholder="Enter description" required/>
                   </div>
                    <div class="form-block">
                        <input type="number" name="order" id="order" placeholder="Enter sequence" required/>
                   </div>
                </div>

                
                <div class="form-actions">
                    <a href="javascript:void(0);">Cancel</a>
                    <button type="submit" id="addclass" class="save_class" >Save</button>
                    
                </div>  
                </form> 
            </div>
        </div>     
    </div>
    <!-- Add Content Dialog-->


    <!-- Add Content Dialog-->
    <div class="addSessionDialog foredit " id="addSessionDialog">
        <div class="addSessionDialogContainer">
            <div class="heading">Edit Classss</div>
            <div class="dialog-content">
                <form>
                <div class="form-wrapper">
                     <div class="form-block">
                        <input type="text" name="title" placeholder="Enter title" required/>
                    </div>
                     <div class="form-block">
                        <input type="text" name="shortcode" placeholder="Enter short code" required/>
                    </div>
                </div>
                <div class="form-actions">
                    <a href="javascript:void(0);">Cancel</a>
                    <button type="submit">Save</button>
                </div>  
                </form> 
            </div>
        </div>     
    </div>
    <!-- Add Content Dialog-->


<!-- Confirmation Content Dialog-->
    <div class="confirmationDialog">
        <div class="confirmationDialogContainer">
            <div class="heading">Confirmation</div>
            <div class="dialog-content">
                <h3>Are you Sure ?</h3>
               <p>This is a confirmation dialog  with custom message.</p>
            </div>
             <div class="form-actions">
                <a href="javascript:void(0);" onclick="confirmation('cancel')">Cancel</a>
                <button onclick="confirmation('confirm')">Confirm</button>
            </div>  
        </div>     
    </div>
<!-- Confirmation Content Dialog-->

<!-- Success Content Dialog-->
    <div class="successDialog">
        <div class="successDialogContainer">
            <div class="heading">Success</div>
            <div class="dialog-content">
                <i class="fa fa-check"></i>
                <h3>Awesome</h3>
               <p>This is a Success dialog  with custom message.</p>
            </div>
             <div class="form-actions">
                <a href="javascript:void(0);" onclick="success('cancel')">Cancel</a>
                <button onclick="success('ok')">OK</button>
            </div>  
        </div>     
    </div>
<!-- Success Content Dialog-->

<!-- errror Dialog-->
<div id="error-dialogue" class="confirmationDialog">
        <div class="confirmationDialogContainer">
            <div class="heading">Error</div>
            <div class="dialog-content">
                <h3></h3>
               <p id="error-msg"></p>
            </div>
             <div class="form-actions">
                <button onclick="clickError()">OK</button>
            </div>  
        </div>     
    </div>
<!-- errror Dialog-->

<script>
       $("#order").keyup(function() {
    var val = $("#order").val();
    if (parseInt(val) < 1 || isNaN(val)) {
        alert("please enter valid values");
        $("#order").val("");
        $("#order").focus();
    }
});
</script>


{% endblock base_content %}

{% block htmljs %}
<script src="{% static 'js/site.js' %}"></script>
<script src="{% static 'js/class.js' %}"></script>
<!-- <script src="{% static 'js/class.js' %}"></script>
<script src="{% static 'js/site.js' %}"></script> -->
{% endblock htmljs %}
