{% extends 'users/base.html' %}
{% load static %}
{% block header %}
<!doctype html>
<html> 
<head> 
<meta charset="UTF-8"/>

<title>Program Batches Listing</title>
<!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"> -->
<meta name="viewport" content="user-scalable = 1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- <script src="{% static 'js/highstock.js' %}"></script> -->
<script src="{% static 'js/moment.min.js' %}"></script>            
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>


<link href="{% static 'css/newdesign.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/bootstrap-datetimepicker.css' %}" rel="stylesheet" type="text/css">

<!-- Include the plugin's CSS and JS: -->

{% endblock header %}
{% block css %}


{% endblock %}
{% block base_content %}



<div id="container">
    {% include 'users/nav.html' %}

<!--Header-->
 
<!--Header-->       

<!--Content Container-->
    <main>
        {% include 'users/side_bar.html' %}
        
    <div id="content-container">
        <div class="page-header">
                <h2>Edit Batches</h2>
                 <style>
                            .button
                            {
                                background-color:
                                #204d74;
                                cursor: pointer;
                                font-size: 15px;
                                padding: 7px 20px;
                                border-radius: 4px;
                                color:
                                #fff;
                                font-family: latoregular;
                                border: 0px none;
                            }
                        </style>
             
            </div>
              
                <div class="page-content">
                    
                    <div class="listing-wrapper">
                    <div class="listing-container">
                        <div class="table-wrapper">
                            <form method="post" action="/institute/batch/">{% csrf_token %}
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-wrapper"><label>Phase Name</label>
                                                <div class="form-block">
                                                     <select name="programs" id="add_phase">
                                                        <!-- <option value="">---Select phase---</option> -->
                            
                                                        {% for phases_obj in phase %}
                                                        <option value="{{phases_obj.id}}" {% if phases_obj.id == data.phase.id %} selected  {% endif %}>{{phases_obj.label}}</option>
                            
                                                     {% endfor %}
                                                        
                                                    </select>
                                                </div>
                                  
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                  <td>
                                     <div class="form-wrapper">
                                      <LABEL>Batch Short Code</LABEL>
                                    <div class="form-block">
                                         <input type="text" name="short_code" id="Short_code"   placeholder="Enter Short Code" value="{{data.short_code}}" required/>
                                    </div>
                                     
                                </div>
                                  </td>
                                </tr>
                                    <tr>
                                        <td>
                                            <div class="form-wrapper"><label>Batch Name</label>
                                                <div class="form-block">
                                                    <input type="hidden" name="hidden_id" id="hidden_id" value="{{data.id}}" placeholder="Enter numeric ID"/>
                                                    <input type="text" name="title"  id="title_batch" value={{data.label}} placeholder="Enter title" required/>
                                                </div>
                                    
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                             <div class="form-wrapper"><label>Time Slot</label>
                                    
                                    
                                                <div class="form-block">
                                                    <input type="text" name="time" id="time_batch" maxlength="4"  onchange="timeslot(this)" value={{data.times_slot|time:"g:iA"}} class="timepicker" placeholder="Enter time" required/>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-wrapper">
                                                <label>Description</label>
                                                <div class="form-block">
                                                    <textarea name="description" id="description_batch" placeholder="Enter description" required>{{data.description}}</textarea>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-actions">
                                    <a href="/institute/batch/" class="button">Cancel</a>
                                    <button name="add_batch" class="button" id="add_batch" type="submit">Save</button>
                                </div>  
                                        </td>
                                    </tr>
                                </table>
                                
                                
                               

                                
                                
                                </form> 
                           
                        </div>
                    
                     </div>

                    
                  
                    
                    
                    </div>

                </div>

            </div>
 </main>           
<!--Content Container-->

</div>


<!-- Add Content Dialog-->
    
    <!-- Add Content Dialog-->


    <!-- Add Content Dialog-->
  
    <!-- Add Content Dialog-->


<!-- Confirmation Content Dialog-->
    <div class="confirmationDialog">
        <div class="confirmationDialogContainer">
            <div class="heading">Confirmation</div>
            <div class="dialog-content">
                <h3>Are you Sure ?</h3>
               <p>This is a confirmation dialog  with custom message.</p>
            </div>
             <div class="form-actions">
                <a href="javascript:void(0);" onclick="confirmation('cancel')">Cancel</a>
                <button onclick="confirmation('confirm')">Confirm</button>
            </div>  
        </div>     
    </div>
<!-- Confirmation Content Dialog-->

<!-- Success Content Dialog-->
    <div class="successDialog">
        <div class="successDialogContainer">
            <div class="heading">Success</div>
            <div class="dialog-content">
                <i class="fa fa-check"></i>
                <h3>Awesome</h3>
               <p>This is a Success dialog  with custom message.</p>
            </div>
             <div class="form-actions">
                <a href="javascript:void(0);" onclick="success('cancel')">Cancel</a>
                <button onclick="success('ok')">OK</button>
            </div>  
        </div>     
    </div>
<!-- Success Content Dialog-->

<!-- errror Dialog-->
<div id="error-dialogue" class="confirmationDialog">
        <div class="confirmationDialogContainer">
            <div class="heading">Error</div>
            <div class="dialog-content">
                <h3></h3>
               <p id="error-msg"></p>
            </div>
             <div class="form-actions">
                <button onclick="clickError()">OK</button>
            </div>  
        </div>     
    </div>
<!-- errror Dialog-->
<script type="text/javascript">
    
   function timeslot(){
    var timeString = $('#time_batch').val()

 var hourEnd = timeString.indexOf(":");

var H = +timeString.substr(0, hourEnd);
var h = H % 12 || 12;
var ampm = (H < 12 || H === 24) ? "AM" : "PM";
timeString = h + timeString.substr(hourEnd, 3) + ampm;
var regex = /^([0]\d|[1][0-2]):([0-5]\d)\s?(?:AM|PM)$/i;

}
</script>

<script type="text/javascript">

    $(' aside .aside-container li.active').addClass('open').children('ul').show();
    $('aside .aside-container li.has-sub>a').on('click', function(){
        //$(this).removeAttr('href');
        var element = $(this).parent('li');
        if (element.hasClass('open')) {
            element.removeClass('open');
            element.find('li').removeClass('open');
            element.find('ul').slideUp(200);
        }
        else {
            element.addClass('open')
            element.children('ul').slideDown(200);
            element.siblings('li').children('ul').slideUp(200);
            element.siblings('li').removeClass('open');
            element.siblings('li').find('li').removeClass('open');
            element.siblings('li').find('ul').slideUp(200);
        }
    });

     $("#upload_link").on('click', function(e){
        e.preventDefault();
        $("#upload:hidden").trigger('click');
    })

    let tableData = [
        // { id: '1', batchcode: 'JR01KToo1', startdate: '18-10-2019', enddate: '18-10-2020', time: '10:00 AM', title: 'Batch1' , description: 'Phase1 Batch1'},
        // { id: '2', batchcode: 'JR01KToo2' , startdate: '18-10-2019', enddate: '18-10-2020', time: '11:00 AM',  title: 'Batch2', description: 'Phase2 Batch2'},
        // { id: '3', batchcode: 'JR01KToo3' , startdate: '18-10-2019',enddate: '18-10-2020', time: '12:00 AM', title: 'Batch3',description: 'Phase3 Batch3'},
       
       
      
        
    ]


    let paginationData = [
        // { id: '1', batchcode: 'JR', startdate: '18-10-2019',enddate: '18-10-2020', time: '10:00 AM', title: 'VIJAY JR' , description: 'Description1'},
        // { id: '2', batchcode: 'G&J' , startdate: '18-10-2019',enddate: '18-10-2020', time: '10:00 AM',  title: 'VIJAY G&J', description: 'Description2'},
        // { id: '3', batchcode: 'JR' , startdate: '18-10-2019', enddate: '18-10-2020', time: '10:00 AM', title: 'VIKAAS JR',description: 'Description3'},
      
    ]


         function confirmation(type){
             if (type === 'confirm'){
                console.log("confirm");
             }else{
               console.log("cancel"); 
             }  
        }

        function success(type){
             if (type === 'ok'){
                console.log("ok");
             }else{
               console.log("cancel"); 
             }  
        }


jQuery(document).ready(function(){
    
    let tableHTML ='';
    let paginationHTML ='';


    tableData.forEach((val)=>{
        tableHTML += `<tr>
                    <td>${val.batchcode}</td>
                    <td>${val.title}</td>
                    <td>${val.startdate}</td>
                    <td>${val.enddate}</td>
                    <td>${val.time}</td>
                    <td>${val.description}</td>
                   <td class='division-actions'><a href="javascript:void(0);" class='edit-link'><i class="fa fa-pencil"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
                </tr>`;

                
    });

    
    jQuery('.listingtable').append(tableHTML);
    
   



    jQuery('#txt-search').keyup(function(e){
        let searchValue = $(this).val().toLowerCase();
             console.log(searchValue);
             console.log(tableData);
             let getData = tableData.find(data => data.name === searchValue);
             console.log(getData);
   
        });


   jQuery('.add-session-link').click(function(){
        jQuery('.addSessionDialog').addClass('open');
        jQuery('.addSessionDialog.foredit').removeClass('open');

    }); 

    jQuery('table td .edit-link').click(function(){
        jQuery('.addSessionDialog.foredit').addClass('open');

    });  

     $('#sessiondd , #programdd , #phasesdd').selectpicker();

     $('.startdatepicker').datetimepicker({
         locale: 'ru',
        debug:true,
        pickTime: false 
    });

    $('.enddatepicker').datetimepicker({
       locale: 'ru',
       debug:true,
       pickTime: false 

    });

     jQuery('.timepicker').datetimepicker({
      pickDate: false
     
    });

    jQuery('.addSessionDialog .form-actions a').click(function(){
        jQuery('.addSessionDialog').removeClass('open');
    });



});








</script>

{% endblock base_content %}

{% block htmljs %}
<!-- <script src="{% static 'js/site.js' %}"></script> -->
<script src="{% static 'js/batch.js' %}"></script>
{% endblock htmljs %}

