{% extends 'users/base.html' %}
{% load static %}
{% block header %}
<meta charset="UTF-8"/>

<title>Target Listing</title>
<!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"> -->
<meta name="viewport" content="user-scalable = 1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<!-- <script src="{% static 'js/highstock.js' %}"></script> -->
<script src="{% static 'js/moment.min.js' %}"></script>            
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>



<link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/newdesign.css' %}" rel="stylesheet" type="text/css">

<!-- Include the plugin's CSS and JS: -->


{% endblock header %}
{% block css %}


{% endblock %}
{% block base_content %}



<div id="container">
    {% include 'users/nav.html' %}

<!--Header-->
 
<!--Header-->       

<!--Content Container-->
    <main>
        {% include 'users/side_bar.html' %}
    <div id="content-container">
        <div class="page-header">
                <h2>Target </h2>
               <!--  <ol class="breadcrumb">
                    <li><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
                    <li><a href="listing.html">Users</a></li>
                    <li class="active">Add User</li>
                </ol> -->
            </div>
            <div class="table-top" >
                       <!--  <input type="search" id="txt-search" placeholder="Search" /> -->
                       
                            <div style="padding-left: 80%"> 
                             <!-- <div class="filter-by">Filter by
                                    <select><option>Session1</option><option>Session2</option><option>Session3</option><option>Session4</option><option>Session5</option></select>
                                    <select><option>Program1</option><option>Program2</option><option>Program3</option><option>Program4</option><option>Program5</option></select>
                                </div>    -->
                              <a href="javascript:void(0)" class="add-session-link" onclick="openPopup()">
                                    <i class="fa fa-plus"></i>
                                    <span>Add New</span>
                                </a>
                            </div>
                        
                    </div>    
                <div class="page-content">
                    
                    <div class="listing-wrapper">
                    <div class="listing-container">
                        {% if status == False %}
                            <h4 style="color: red;">{{message}}</h4>
                        {% endif %}
                       
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr>
                                    <th>Name</th>
                                   
                                    
                                   
                                   
                                    <th >Actions</th>
                                </tr>
                                </thead>
                                <tbody class="listingtable" id="listingtable">

                                    
                                    {% for class_ob in data %}
                                        <tr> <td>{{class_ob.label}}({{class_ob.short_code}})</td><td><a href="{% url 'edit_target' class_ob.id %}" ><i class='fa fa-pencil'></i></a><a href="javascript:void(0);" onclick="removeDivision({{class_ob.id}})"><i class="fa fa-trash"></i></a></a></td></tr>
                                    {% endfor %}
                               
                                    
                                   
                                
                                </tbody>
                            </table>    
                        </div>
                        <div class="paginationWrapper">
                            <div class="paginationContainer" actpage="1" id="pagination">
                                {% if data.has_other_pages == True %}

                                    {% if data.has_previous == True %}
                                        <a id="page{{data.previous_page_number}}" href="/institute/target_planner/?page={{data.previous_page_number}}">prev</a>

                                    {% endif %}
                                    {% for i in PAGINATION_COUNT%}
                                   
                                        {% if i == data.number %}
                                            <a id="page{{i}}" class="selected" href="/institute/target_planner/?page={{i}}">{{i}}</a>

                                        {% else %}
                                            <a id="page{{i}}" href="/institute/target_planner/?page={{i}}">{{i}}</a>

                                        {% endif %}
                                    

                                    {% endfor %}
                                    {% if data.has_next == True %}
                                        <a id="page{{data.next_page_number}}" href="/institute/target_planner/?page={{data.next_page_number}}">next</a>
                                    {% endif %}
                                    {% endif %}       



                              
                              <!--   {% if pagination.program_user_changes == True %}
                                {% if data.has_other_pages == True %}
                               
                                
                                {% if pagination.program_previous == True %}
                                <a id="page{{data.previous_page_number}}" href="/institute/target_planner/?page={{data.previous_page_number}}">prev</a>

                                {% endif %}

                                {% endif %}
                               
                                
                                {% for i in PAGINATION_COUNT%}
                               
                                {% if i == pagination.current_page %}
                                <a id="page{{i}}" class="selected" href="/institute/target_planner/?page={{i}}">{{i}}</a>

                                {% else %}
                                <a id="page{{i}}" href="/institute/target_planner/?page={{i}}">{{i}}</a>

                                {% endif %}
                                

                                {% endfor %}
                                {% if pagination.program_next == True %}
                                <a id="page{{pagination.program_next_page_number}}" href="/institute/target_planner/?page={{pagination.program_next_page_number}}">next</a>
                                {% endif %}
 -->
                                    
                                <!-- {% if pagination.program_numpage > 2 %} -->
                                
                              
                                    
                                    
                                <!-- {% endif %} -->
                               
                                {% endif %}

                               

                                
                               
                            </div>
                        </div>
                     </div>

                    
                  
                    
                    
                    </div>

                </div>

            </div>
 </main>           
<!--Content Container-->

</div>


<!-- Add Content Dialog-->
    <div id="addPopUp" class="addSessionDialog">
        <div class="addSessionDialogContainer">
            <div class="heading">Add Target</div>
            <div class="dialog-content">
                <form method="post">{% csrf_token %}
                <div class="form-wrapper">
                    <div class="form-block">
                       
                    </div>
                    <div class="form-block">
                        <input type="hidden" name="hidden_id" id="title" value="" placeholder="Enter numeric ID"/>
                       
                    </div>
                
                    
                 </div>
                <div class="form-wrapper">
                    <div class="form-block">
                        <input type="text" name="name" id="name" data-type="input" placeholder="Enter Name" />
                    </div>
                    
                </div>

                <div class="form-wrapper">
                   <div class="form-block">
                        <input type="text" name="short_code" id="short_code" placeholder="Enter Short Code " required/>
                   </div>
               </div>
                

      
                
                
                   
                <div class="form-actions">
                    <a href="javascript:void(0);">Cancel</a>
                    <button  id="add_submit" onclick="add_submit()" type="submit">Save</button>
                </div>  
                </form> 
            </div>
        </div>     
    </div>
    <!-- Add Content Dialog-->


    <!-- Add Content Dialog-->
    <div class="addSessionDialog foredit">
        <div class="addSessionDialogContainer">
            <div class="heading">Edit Phases<input type="text" name="hidden_class_id"  id= "hidden_class_id" value=""> </div>
            <div class="dialog-content">
                <form>
                <div class="form-wrapper">
                    <div class="form-block">
                         <select name="program"  id="phasesdd"  title= "Choose phase" >
                          
                        </select>
                    </div>
                 </div>
                <div class="form-wrapper">
                    <div class="form-block">
                        <input type="text" name="title"  id="title" placeholder="Enter title" />
                    </div>
                     <div class="form-block">
                        <input type="text" name="uniquecode" id="uniquecode" placeholder="Enter unique code" />
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form-block">
                        <input type="text" name="startdate" id="startdatepicker" class="startdatepicker"  placeholder="Enter startdate" />
                    </div>
                     <div class="form-block">
                        <input type="text" name="enddate" id="enddatepicker" class="enddatepicker" placeholder="Enter enddate" />
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form-block">
                        <textarea name="description" id="description" placeholder="Enter description"></textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <a href="javascript:void(0);">Cancel</a>
                    <button  id="edit_submit" type="submit" onclick="updateclass()">Save</button>
                </div>  
                </form> 
            </div>
        </div>     
    </div>
    <!-- Add Content Dialog-->


<!-- Confirmation Content Dialog-->
<div class="confirmationDialog">
    <div class="confirmationDialogContainer">
        <div class="heading">Confirmation</div>
        <div class="dialog-content">
            <h3>Are you Sure  Want to Delete?</h3>
           <p>This is a confirmation dialog  with custom message.</p>
        </div>
         <div class="form-actions">
            <a href="javascript:void(0);" onclick="confirmation('cancel')">Cancel</a>
            <!-- <form id="remove-model" method="post" >{% csrf_token %} -->
                <form id="" method="post" >{% csrf_token %}
                <input type="hidden" name="action" value="delete"/>
                <input id="delete_id" name="delete" type="hidden" name="id"/>
                <input id="hidden_id" name="delete" type="hidden" name="hidden_id"/>
            
            <button >Confirm</button>
        </form>
        </div>  
    </div>     
</div>
<!-- Confirmation Content Dialog-->

<!-- Success Content Dialog-->
{% if status == True %}
    <div id="successDialog" class="successDialog">
        <div class="successDialogContainer">
            <div class="heading">Success</div>
            <div class="dialog-content">
                <i class="fa fa-check"></i>
                <h3>Awesome</h3>
               <p>This is a Success dialog  with custom message.</p>
            </div>
             <div class="form-actions">
                
                <button id="success" onclick="success('ok')">OK</button>
            </div>  
        </div>     
    </div>

{% endif %}
{% if status == "Deleted" %}

    <div id="DeleteDialog" class="successDialog">
        <div class="successDialogContainer">
            <div class="heading">Deleted</div>
            <div class="dialog-content">
                <i class="fa fa-check"></i>
                <h3>Awesome</h3>
               <p>{{message}}</p>
            </div>
             <div class="form-actions">
                <!-- <a href="javascript:void(0);" onclick="success('cancel')">Cancel</a> -->
                <button onclick="failure()">OK</button>
            </div>  
        </div>     
    </div>
{% endif %}
<!-- Success Content Dialog-->



    <script type="text/javascript">

        $(' aside .aside-container li.active').addClass('open').children('ul').show();
        $('aside .aside-container li.has-sub>a').on('click', function(){
            //$(this).removeAttr('href');
            var element = $(this).parent('li');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.find('li').removeClass('open');
                element.find('ul').slideUp(200);
            }
            else {
                element.addClass('open')
                element.children('ul').slideDown(200);
                element.siblings('li').children('ul').slideUp(200);
                element.siblings('li').removeClass('open');
                element.siblings('li').find('li').removeClass('open');
                element.siblings('li').find('ul').slideUp(200);
            }
        });

         $("#upload_link").on('click', function(e){
            e.preventDefault();
            $("#upload:hidden").trigger('click');
        })

        let tableData = [
            // { id: '1', uniquecode: 'JR001', startdate: '18-10-2019', enddate: '18-10-2020', program: 'Vikas' , title: 'Phase1' , description: 'Phase1'},
            // { id: '2', uniquecode: 'JR002', startdate: '18-10-2019', enddate: '18-10-2020', program: 'Vikas', title: 'Phase2' , description: 'Phase2'},
            // { id: '3', uniquecode: 'JR003', startdate: '18-10-2019', enddate: '18-10-2020', program: 'Vikas' , title: 'Phase3' , description: 'Phase3'},
           
           
          
            
        ]


        let paginationData = [
          { id: '1', uniquecode: 'JR', startdate: '18-10-2019', enddate: '18-10-2020', program: 'program1', noofbatches: '7' , title: 'VIJAY JR' , description: 'Description1'},
            { id: '2', uniquecode: 'G&J', startdate: '18-10-2019', enddate: '18-10-2020', program: 'program2', noofbatches: '2' , title: 'VIJAY G&J' , description: 'Description2'},
            { id: '3', uniquecode: 'JR', startdate: '18-10-2019', enddate: '18-10-2020', program: 'program3', noofbatches: '5' , title: 'VIKAAS JR' , description: 'Description3'},
          
        ]
 $(document).ready(function() {
$('#successDialog').css("display","flex");
$('#DeleteDialog').css("display","flex");

        })

 function failure(){
        window.location = `/institute/target_planner/`;
    }
     function success(llk){
    
}
$("#success").click( function(e){
         window.location = `/institute/target_planner/`;

    })
    $("#cancelsuc").click( function(e){
         window.location = `/institute/target_planner/`;

    })
            
            function success(type){
                 if (type === 'ok'){
                    console.log("ok");
                 }else{
                   console.log("cancel"); 
                 }  
            }
    

    jQuery(document).ready(function(){
        
        let tableHTML ='';
        let paginationHTML ='';


        tableData.forEach((val)=>{
            tableHTML += `<tr>
                        <td>${val.uniquecode}</td>
                        <td>${val.title}</td>
                        <td>${val.startdate}</td>
                        <td>${val.enddate}</td>
                        <td>${val.program}</td>
                        <td>${val.noofbatches}</td>
                        <td>${val.description}</td>
                       <td class='division-actions'><a href="javascript:void(0);" class='edit-link'><i class="fa fa-pencil"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>`;

                    
        });

        
        jQuery('.listingtable').append(tableHTML);
        
       



        jQuery('#txt-search').keyup(function(e){
            let searchValue = $(this).val().toLowerCase();
                 console.log(searchValue);
                 console.log(tableData);
                 let getData = tableData.find(data => data.name === searchValue);
                 console.log(getData);
       
            });


       jQuery('.add-session-link').click(function(){
            jQuery('.addSessionDialog').addClass('open');
            jQuery('.addSessionDialog.foredit').removeClass('open');

        }); 

        jQuery('table td .edit-link').click(function(){
            jQuery('.addSessionDialog.foredit').addClass('open');

        });  

         $('#sessiondd , #programdd , #phasesddsss').selectpicker();
  
         $('.startdatepicker').datetimepicker({
             locale: 'ru',
            debug:true,
            pickTime: false 
        });

        $('.enddatepicker').datetimepicker({
           locale: 'ru',
           debug:true,
           pickTime: false 

        });

         jQuery('.timepicker').datetimepicker({
          pickDate: false
         
        });

        jQuery('.addSessionDialog .form-actions a').click(function(){
            jQuery('.addSessionDialog').removeClass('open');
        });
    


    });


   
    function removeDivision(Attr){
        req_id = Attr;
        $('#delete_id').val(req_id);
        $('#hidden_id').val(req_id);
        jQuery('.confirmationDialog').css("display","flex");
    }

    function confirmation(command){
        if(command=="confirm"){
            
            $('#delete_id').val(req_id);
            $('#remove-model').submit();
        }
        else if(command=="cancel"){
            $('.confirmationDialog').css("display","none");
        }
    }

    
    

   </script>


   <script>
   

</script>    
{% endblock base_content %}

{% block htmljs %}
<script src="{% static 'js/target.js' %}"></script>


{% endblock htmljs %}