{% extends 'users/base.html' %}
{% load static %}
{% block header %}
<meta charset="UTF-8"/>

<title>Division Listing</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
<meta name="viewport" content="user-scalable = 1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}" type="text/css">
<link href="{% static 'css/newdesign.css' %}" rel="stylesheet" type="text/css">
{% endblock header %}
{% block css %}


{% endblock %}
{% block base_content %}

<div id="container">

<!--Header-->
{% include 'users/nav.html' %}
<!-- <header>           

<!--Content Container-->
    <main>
        <!-- side_bar starts -->
        {% include 'users/side_bar.html' %}
        <!-- side_bar ends -->
    <div id="content-container">
        <div class="page-header">
                <h2>Organization</h2>
               <!--  <ol class="breadcrumb">
                    <li><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
                    <li><a href="listing.html">Users</a></li>
                    <li class="active">Add User</li>
                </ol> -->
            </div>
            <div class="table-top">
                       <!--  <input type="search" id="txt-search" placeholder="Search" />
                        <div>
                           <div>
                                1 Results 
                            </div>
                        </div> -->
                    </div>    
                <div class="page-content">
                    
                    <div class="listing-wrapper">
                    <div class="listing-container">
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Organization Name</th>
                                    <th>Mobile No</th>
                                    <th>Email</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody class="listingtable">
                                   
                                
                                </tbody>
                            </table>    
                        </div>
                        <!-- <div class="paginationWrapper">
                            <div class="paginationContainer" actpage="1">
                                <a href="#!-1">prev</a>
                                <a href="#!1" class="selected">1</a>
                                <a href="#!2">2</a>
                                <a href="#!3">3</a>
                                <a href="#!4">4</a>
                                <a href="#!5">5</a>
                                <a href="#!6">6</a>
                                <a href="#!7">7</a>
                                <a href="#!8">8</a>
                                <a href="#!9">9</a>
                                <a href="#!10">10</a>
                                <a href="#!+1">next</a>
                            </div>
                        </div> -->
                     </div>

                    
                  
                    
                    
                    </div>

                </div>

            </div>
 </main>           
<!--Content Container-->

</div>


<!-- Add Content Dialog-->
    <div class="editOrganizationDialog">
        <div class="editOrganizationDialogContainer">
            <div class="heading">Edit Organization</div>
            <div class="dialog-content">
                <form>
                <div class="form-wrapper">
                    <div class="form-block">
                        <input type="text" name="title" placeholder="organization title" />
                    </div>
                     <div class="form-block">
                        <div class="edit-thumb"></div>
                        <input id="upload" type="file"/>
                        <a href="javascript:void(0);" id="upload_link">Edit Logo</a>
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form-block">
                        <input type="tel" name="mobile" minlength="10" maxlength="10" placeholder="Mobile no" />
                    </div>
                     <div class="form-block">
                       <input type="email" name="email" placeholder="Email id" />
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form-block">
                        <select name="country" id="countrydd" data-live-search="true">
                            <option value="country1">Country1</option>
                            <option value="country2">Country2</option>
                            <option value="country3">Country3</option>
                            <option value="country4">Country4</option>
                            <option value="country5">Country5</option>
                            <option value="country6">Country6</option>
                        </select>
                    </div>
                     <div class="form-block">
                       <select name="state" id="statedd" data-live-search="true">
                            <option value="state1">State1</option>
                            <option value="state2">State2</option>
                            <option value="state3">State3</option>
                            <option value="state4">State4</option>
                            <option value="state5">State5</option>
                            <option value="state6">State6</option>
                        </select>
                    </div>
                     <div class="form-block">
                       <select name="city" id="citydd" data-live-search="true">
                            <option value="city1">City1</option>
                            <option value="city2">City2</option>
                            <option value="city3">City3</option>
                            <option value="city4">City4</option>
                            <option value="city5">City5</option>
                            <option value="city6">City6</option>
                        </select>
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form-block">
                        <input type="text" name="address1" placeholder="Address" />
                    </div>
                </div>
                <div class="form-wrapper">
                    <div class="form-block">
                        <input type="text" name="address2" placeholder="Address" />
                    </div>
                     <div class="form-block">
                       <input type="number" name="pincode" placeholder="Pincode" />
                    </div>
                </div>
                <div class="form-actions">
                    <a href="javascript:void(0);">Cancel</a>
                    <button type="submit">Save</button>
                </div>  
                </form> 
            </div>
        </div>     
    </div>
    <!-- Add Content Dialog-->


<!-- Confirmation Content Dialog-->
    <div class="confirmationDialog">
        <div class="confirmationDialogContainer">
            <div class="heading">Confirmation</div>
            <div class="dialog-content">
                <h3>Are you Sure ?</h3>
               <p>This is a confirmation dialog  with custom message.</p>
            </div>
             <div class="form-actions">
                <a href="javascript:void(0);" onclick="confirmation('cancel')">Cancel</a>
                <button onclick="confirmation('confirm')">Confirm</button>
            </div>  
        </div>     
    </div>
<!-- Confirmation Content Dialog-->

<!-- Success Content Dialog-->
    <div class="successDialog">
        <div class="successDialogContainer">
            <div class="heading">Success</div>
            <div class="dialog-content">
                <i class="fa fa-check"></i>
                <h3>Awesome</h3>
               <p>This is a Success dialog  with custom message.</p>
            </div>
             <div class="form-actions">
                <a href="javascript:void(0);" onclick="success('cancel')">Cancel</a>
                <button onclick="success('ok')">OK</button>
            </div>  
        </div>     
    </div>
<!-- Success Content Dialog-->
{% endblock base_content %}

{% block htmljs %}

    <script type="text/javascript">

        $(' aside .aside-container li.active').addClass('open').children('ul').show();
        $('aside .aside-container li.has-sub>a').on('click', function(){
            //$(this).removeAttr('href');
            var element = $(this).parent('li');
            if (element.hasClass('open')) {
                element.removeClass('open');
                element.find('li').removeClass('open');
                element.find('ul').slideUp(200);
            }
            else {
                element.addClass('open')
                element.children('ul').slideDown(200);
                element.siblings('li').children('ul').slideUp(200);
                element.siblings('li').removeClass('open');
                element.siblings('li').find('li').removeClass('open');
                element.siblings('li').find('ul').slideUp(200);
            }
        });

         $("#upload_link").on('click', function(e){
            e.preventDefault();
            $("#upload:hidden").trigger('click');
        })

          $('#countrydd ,#statedd ,#citydd').selectpicker(); 

        let tableData = [
            { id: '1', logo: 'images/logo.jpg', organization: 'Resonance Eduventures' , mobile: '8860647955', email: 'pallavi.singla@resonance.ac.in', country: 'India', state: 'Rajasthan', city: 'Kota' , status: 'Active'},
            
            
        ]


        let paginationData = [
           { id: '1', logo: 'images/logo.jpg', organization: 'Resonance Eduventures' , mobile: '8860647955', email: 'pallavi.singla@resonance.ac.in', country: 'India', state: 'Rajasthan', city: 'Kota' , status: 'Active'},
           
        ]


             function confirmation(type){
                 if (type === 'confirm'){
                    console.log("confirm");
                 }else{
                   console.log("cancel"); 
                 }  
            }

            function success(type){
                 if (type === 'ok'){
                    console.log("ok");
                 }else{
                   console.log("cancel"); 
                 }  
            }
    

    jQuery(document).ready(function(){

        

      
        let tableHTML ='';
        let paginationHTML ='';


        tableData.forEach((val)=>{
            tableHTML += `<tr>
                        <td>
                            <div class="usersProfile">
                                <div class="thumb"><img src="${val.logo}" /></div>
                            </div>
                        </td>
                        <td>${val.organization}</td>
                        <td>${val.mobile}</td>
                        <td>${val.email}</td>
                        <td>${val.country}</td>
                        <td>${val.state}</td>
                        <td>${val.city}</td>
                        <td class='status-td'><span>${val.status}</span></td>
                        <td><a href="javascript:void(0);" class='edit-link'><i class="fa fa-pencil"></i></a><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>`;

                    
        });

        
        jQuery('.listingtable').append(tableHTML);
        
       



        jQuery('#txt-search').keyup(function(e){
            let searchValue = $(this).val().toLowerCase();
                 console.log(searchValue);
                 console.log(tableData);
                 let getData = tableData.find(data => data.name === searchValue);
                 console.log(getData);
       
            });


       jQuery('.table-wrapper td .edit-link').click(function(){
            //jQuery('.filter-section').css('display','flex');
            jQuery('.editOrganizationDialog').addClass('open');

        });  


        jQuery('.editOrganizationDialog .form-actions a').click(function(){
            jQuery('.editOrganizationDialog').removeClass('open');
        });


        $( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          console.log( $( this ).serializeArray());
        });
    


    });


    


    
    

   </script>
{% endblock htmljs %}