{% extends 'users/base.html' %}
{% load static %}
{% block header %}
{% load custom_tag %}
<meta charset="UTF-8"/>

<title>Faculty / Coordinator Listing</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
<meta name="viewport" content="user-scalable = 1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}" type="text/css">
<link href="{% static 'css/newdesign.css' %}" rel="stylesheet" type="text/css">
{% endblock header %}
{% block css %}


{% endblock %}
{% block base_content %}

<div id="container">

<!--Header-->
{% include 'users/nav.html' %}
<!-- <header>

<!--Content Container-->
    <main>
       <!-- side_bar starts -->
     {% include 'users/side_bar.html' %}
     <!-- side_bar ends -->

     <div id="content-container">
            <input id="pg_find" type="number" value={{current_page}} hidden>
        <div class="table-top">
                    <input type="search" id="txt-search" placeholder="Search" />
                    <div>
                       <div>
                            <span>{{data|length}}</span> Results
                        </div>
                        <div>
                          <a href="/user/student/add/">
                                <i class="fa fa-plus"></i>
                                <span>Add New</span>
                            </a>
                        </div>
                    </div>
                </div>
            <div class="page-content">

                <div class="listing-wrapper">
                <div class="listing-container">
                        {% if status == False %}
                        <h4 style="color: red;">{{message}}</h4>
                    {% endif %}
                    <div class="table-wrapper">
                        <table id="student_data">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Program</th>
                                <th>Phase</th>
                                <th>Batch</th>
                                <th>Session</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody class="listingtable">
                                    {% for alldata in data %}
                                    
                                    <tr>
                                        <td>
                                            <div class="usersProfile">
                                                <div class="thumb"><img id="front_image" class="img-header" {%if alldata.user.profile_picture %}src="{{alldata.user.profile_picture.url}}" {%endif%} alt="no image"></div>
                                                <div class="thumb-content">
                                                <a href="/user/students/update/{{alldata.id}}">{{alldata.name}}</a>
                                            <div><span>{{alldata.classs.label}}</span></div>
                                            </div>
                                            </div>
                                            </td>
                                            <td>{{alldata.program.label}}</td>
                                            <td>{{alldata.phase.label}}</td>
                                            <td></td>
                                            
                                           
                                           <td>{{alldata.session.label}}</td>
                                            <td><a href="javascript:void(0);" onclick="stor_update_id({{alldata.id}});"><i class="fa fa-pencil"></i></a><a href="javascript:void(0);" onclick="delete_faculty({{alldata.id}});"><i class="fa fa-trash"></i></a></td>
                                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="paginationWrapper">
                            <div id="divPagination" class="paginationContainer" actpage="1">
                                {% if data|length != 0 %}
                                {% if batch_numpage != 1 %}
                                <a id="pageprev" href="/user/student_listing/?page={{batch_previous_page}}">prev</a>
                                {% endif %}
                                {% with ''|center:batch_numpage as range %}
                                {% for i in range %}
                                {% if forloop.counter == 1 %}
                                <a id="page{{forloop.counter}}" href="/user/student_listing/">{{forloop.counter}}</a>
                                {% else %}
                                <a id="page{{forloop.counter}}" href="/user/student_listing/?page={{forloop.counter}}">{{forloop.counter}}</a>
                                {% endif %}
                                {% endfor %}
                                {% endwith %}
                                {% if batch_numpage != 1 %}
                                <a id="pagenext" href="/user/student_listing/?page={{batch_next_page}}">next</a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                 </div>


                <div class="filter-section" id="filter-section">
                    <div class="filter-section-container">
                         <div class="form-actions">
                            <div>Filters</div>
                            <a class="filterApplyBtn" href="javascript:void(0);" onclick="redirecFilterPage();">Apply</a>
                        </div>
                        <div class="filters-wrapper">
                        <div class="filter-block">
                            <div class="filter-header">
                                    Programs
                                    <!-- <div>
                                       <a href="javascript:void(0);" class="add-departments-link"><i class="fa fa-plus"></i></a><a href="manage.html" class="manage-departments-link"><i class="fa fa-cog"></i></a>
                                   </div> -->
                            </div>
                            <div class="filter-list">
                                <ol class="programFilter">
                                    {% for dep in program %}  
                                    <li><label><input id="program_id={{dep.id}}" type="checkbox" value="{{dep.id}}" class="etcheckbox" onclick="selectFilterOption('program_id',{{dep.id}}, this);">{{dep.label}}</label></li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <div class="filter-block">
                            <div class="filter-header">
                                Phase
                                <!-- <div>
                                    <a href="javascript:void(0);" class="add-designation-link"><i class="fa fa-plus"></i></a><a href="manage.html" class="manage-designation-link"><i class="fa fa-cog"></i></a>
                                </div> -->
                            </div>
                            <div class="filter-list">
                                <ol class="phaseFilter">
                                {% for dep in phase %}  
                                <li><label><input id="phase_id={{dep.id}}" type="checkbox" value="{{dep.id}}" class="etcheckbox" onclick="selectFilterOption('phase_id',{{dep.id}}, this);">{{dep.label}}</label></li>
                                {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <!-- <div class="filter-block">
                            <div class="filter-header">
                                Current Batch
                                
                            </div>
                            <div class="filter-list">
                                <ol class="currentbatchFilter">

                                </ol>
                            </div>
                        </div> -->
                        <div class="filter-block">
                            <div class="filter-header">
                                Session
                                <div>
                                    <!-- <a href="javascript:void(0);" class="add-skills-link"><i class="fa fa-plus"></i></a> -->
                                </div>
                            </div>
                            <div class="filter-list">
                                <ol class="sessionFilter">
                                    {% for alldata in session %}
                                    <li><label><input id="session_id={{alldata.id}}" type="checkbox" value="{{alldata.id}}" class="etcheckbox" onclick="selectFilterOption('session_id',{{alldata.id}}, this);">{{alldata.label}}</label></li>
                                        {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <div class="filter-block">
                            <div class="filter-header">
                                Study Center
                                <!-- <div>
                                    <a href="javascript:void(0);" class="add-et-link"><i class="fa fa-plus"></i></a><a href="manage.html" class="manage-et-link"><i class="fa fa-cog"></i></a>
                                </div>  -->
                            </div>
                            <div class="filter-list">
                                <ol class="centersFilter">
                                    {% for alldata in center %}
                                    <li><label><input id="center_id={{alldata.id}}" type="checkbox" value="{{alldata.id}}" class="etcheckbox" onclick="selectFilterOption('center_id',{{alldata.id}}, this);">{{alldata.name}}</label></li>
                                        {% endfor %}
                                </ol>
                            </div>
                        </div>
                        <div class="filter-block">
                            <div class="filter-header">
                                Division
                                <!-- <div>
                                    <a href="javascript:void(0);" class="add-roles-link"><i class="fa fa-plus"></i></a><a href="manage.html" class="manage-roles-link"><i class="fa fa-cog"></i></a>
                                </div>  -->
                            </div>
                            <div class="filter-list">
                                <ol class="divisionFilter">
                                    {% for dep in division  %}
                                    <li><label><input id="division_id={{dep.id}}" type="checkbox" value="{{dep.id}}" class="etcheckbox" onclick="selectFilterOption('division_id',{{dep.id}}, this);">{{dep.name}}</label></li>
                                    {% endfor %} 
                                </ol>
                            </div>
                        </div>
                     </div>

                    </div>
                </div>



                </div>

            </div>

        </div>
</main>
<!--Content Container-->

</div>


<!-- Add Content Dialog-->
<div class="AddContentDialog">
    <div class="AddContentDialogContainer">
        <div class="heading">Add Session</div>
        <div class="dialog-content">
            <form>
            <input type="search"name="tags-outside" placeholder="Type and Search" />
            <div class="form-actions">
                <a href="javascript:void(0);">Cancel</a>
                <button type="submit">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Content Dialog-->


<!-- Confirmation Content Dialog-->
<div id="confirmationDialog" class="confirmationDialog">
    <div class="confirmationDialogContainer">
        <div class="heading">Confirmation</div>
        <div class="dialog-content">
            <h3>Are you Sure ?</h3>
           <p>You want to delete the record.</p>
        </div>
         <div class="form-actions">
            <a href="javascript:void(0);" onclick="confirmation('cancel')">Cancel</a>
            <button onclick="confirmation('confirm')">Confirm</button>
        </div>
    </div>
</div>
<!-- Confirmation Content Dialog-->



<!-- Success Content Dialog-->

{% if status == "Deleted" %}

    <div id="failDialogue" class="successDialog">
        <div class="successDialogContainer">
            <div class="heading">Success</div>
            <div class="dialog-content">
                <i class="fa fa-check"></i>
                <h3>Awesome</h3>
               <p>{{message}}</p>
            </div>
             <div class="form-actions">
                <!-- <a href="javascript:void(0);" onclick="success('cancel')">Cancel</a> -->
                <button onclick="failure()">OK</button>
            </div>  
        </div>     
    </div>
{% endif %}
<div>
        <form id="remove-model" method="POST" action="/user/student/add/" hidden>{% csrf_token %}
            <input type="text" name="action" value="delete"/>
            <input id="delete_id" type="number" name="id"/>
        </form>
    </div>

{% endblock base_content %}

{% block htmljs %}

<script src="{% static 'js/site.js' %}"></script>
<script src="{% static 'js/student_listing.js' %}"></script>

{% endblock htmljs %}
